$White: #FFFFFF;
$Black: #11142D;


.root{
    display: flex;
    flex-flow: column;
    // height: 6.35%;
    
}
.menuLine{
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 30px;
}
.Text{
    color: $Black;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    width: 112px;
    margin-left:15px;
}
.IconWrapper{
    width: 18px;
    height:18px;
    margin-right:19px;
}

.divider{
    margin-left:14.5%;
    width: 65%;
}

.arrow{
    margin-left: 16px;
    margin-right: 26px;
}