$White: #FFFFFF;
$Black: #11142D;


.root{
    display: flex;
    flex-flow: column;
    // height: 6.35%;
    
}
.line{
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 30px;
}
.Text{
    color: $Black;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    width: 80%;
    margin-left:7%;
}

.arrow{
    margin-left: 5%;
    margin-right: 13%;
}