$grey:#808191;

.root{
    display: flex;
    flex-flow: column;
}

.searchBox{
    display: flex;
    flex-flow: row;
    width:104px;
    height: 24px;
    outline:0;
    border: White;
    background: white;
    margin-top: 50.48%;
    padding: 0;
    cursor: text;
}

.searchBoxText{
    padding-left: 18px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: $grey;
    margin: 0px 16px;
}

.IconWrapepr{
    height:20px;
}