$darkBlue: #0C1629;
$grey: #808191;

.root{
    margin-left:28.35%;
    margin-right:28.65%;
    display: flex;
    flex-flow: column;
    height: 22.78%;
}

.menu{
    height: 90%; 
    width: 30%;
    margin: auto;
    background: $darkBlue;
}

.logoWrapper{
    margin-top: 21%;
    margin-left: 17.5%;    
    height: 8%;
}

.insights{
    margin-top: 70%;
    text-align: center;
}

.insightsHeader{
    color: $grey;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.004em;
    text-align: left;
    margin-left: 16.5%
}