$purple: #6C5DD3;

.iconContainer{
    display: flex;
    flex-flow: row;
    margin-top: 70px;
}
@mixin bell{
    margin-top: 10%;
    background: white;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50%;
    margin-left: 50%;
}
.bell{
    @include bell;
}
.clickedBell{
    @include bell;
    background: $purple;

}
.bell:hover{
   box-shadow: 1px 1px 1px 1px #ccc
}