$orange: #FF754C;
$white: #FFFFFF;
.root{
    background: $orange;
    width:24px;
    height:24px;
    color:$white;
    border-radius:50%;
    font-style: normal;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 24px
}