$black: #11142d;
$grey: #B2B3BD;

.header{
    left: 0;
    top: 0;
    color:$black;
    letter-spacing: -1px;
    font-style: normal;
    font-weight: 600;
    font-size: 2.5rem;
    text-align: left;
    margin-bottom:0.7%;
    margin-top: 0;
}

.underline{
    position: absolute;
    height: 1px;
    left: 0%;
    right: 0%;
    top: 36px;
    background: $grey;
}